/* importing fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* Some global styles  */
*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}


img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: inline-block;
}

label {
  display: block;
}

:root,
body {
  font-size: 14px;
}

table {
  width: 100%;
}

.container {
  @apply mx-auto max-w-screen-2xl;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
}

a {
  @apply inline-block;
}

.hoverable {
  transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out !important;
  @apply hover:border-transparent hover:shadow-md;
}
