.appointment-page {
  display: flex;
}

.sidebar {
  flex: 0.5;
}

.appointment-container {
  flex: 5;
  background-color: rgb(217, 217, 217, 0.17);
  height: 100vh;
  width: 100vw;
}

.container-profile {
  /* background-color: rgb(217, 217, 217, 0.17); */
  display: flex;
  justify-content: end;
  align-items: center;
  height: 10vh;
  margin-right: 80px;
  margin-top: 20px;
}
.container-profile-picture {
  /* background-color: rgb(217, 217, 217, 0.17); */
  width: 84px;
  height: 84px;
  border-radius: 50%;
  margin-top: 5px;
  margin-right: 15px;
}

.container-search-get {
  display: flex;
  height: 15vh;
  padding-top: 20px;
}
.container-search {
  flex: 2;
  /* font-size: 36px; */
  padding-top: 20px;
  margin-left: 20px;
}
.icon-search {
  font-size: 25px;
  padding-left: 5px;
}
.container-get {
  flex: 1;
  padding-top: 20px;
  padding-left: 5px;
}
.container-get-appointment {
  float: right;
  background-color: rgb(0, 97, 255, 0.24);
  color: rgb(0, 97, 255, 0.6);
  border-radius: 20px;
  border: none;
  width: 15rem;
  height: 3.5rem;
  font-size: large;
  font-weight: bold;
}
.inputRounded .MuiOutlinedInput-root {
  background-color: white;
  border-radius: 20px;
  width: 65rem;
  height: 3.5rem;
}

/* .container-content-appointment {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  height: 67vh;
} */

.container-appointment-row {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 25px;
}
.container-content-1-appointment {
  height: 70vh;
  background-color: white;
  margin-top: 5px;
  padding-top: 1px;
  border-radius: 20px;
}
.container-appointment-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 25px;
  align-items: center;
  font-weight: bold;
}
.container-appointment-row:hover {
  background: rgb(217, 217, 217, 0.6);
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
  height: 5rem;
}
.container-content-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container-content-picture {
  width: 60px;
  height: 50px;
  border-radius: 50%;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5px;
}
