.confirm-appointment-page {
  display: flex;
  background-color: rgb(217, 217, 217, 0.17);
}

.sidebar {
  flex: 0.5;
}

.confirm-appointment-container {
  padding-left: 5rem;
  display: flex;
  flex: 5;
  flex-direction: column;
  /* background-color: rgb(217, 217, 217, 0.17); */
  height: 100vh;
  width: 100vw;
  margin-right: 50px;
}
.confirm-container-profile {
  /* flex: 2; */
  background-color: white;
  border-radius: 20px;
  margin-top: 2rem;
  padding-top: 1rem;
  width: 75vw;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 80px;
}
.container-confirm-profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  float: right;
}
.container-profile-detail {
  padding-top: 3rem;
  height: 90%;
  width: 20%;
  justify-items: center;
  align-items: center;
}
.container-book {
  width: 75vw;
  /* flex: 5; */
  margin-top: 1rem;
  background-color: white;
  border-radius: 20px;
  display: flex;
  height: 400px;
  flex-direction: row;
  justify-content: space-between;
}

.container-book-calender {
  flex: 3;
  border-radius: 20px;
  /* background-color: rgb(217, 217, 217, 0.59); */
  background-color: white;
  background-color: rgb(0, 97, 255, 0.03);
  margin-left: 15px;
  margin-top: 10px;
  padding-top: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}
.container-book-calender-time {
  background-color: white;
  border-radius: 20px;
  height: 38vh;
  width: 10vw;
  /* padding-top: 40px; */
  margin-top: 30px;
}
.container-book-time {
  /* background-color: rgb(217, 217, 217, 0.59); */
  background-color: rgb(0, 97, 255, 0.03);
  flex: 2;
  border-radius: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-left: 5rem;
  /* padding-top: 2rem; */
}
.container-time {
  justify-content: center;
  align-items: center;
  /* background-color: white; */
  /* background-color: aqua; */
  margin-top: 2rem;
  text-align: center;
  padding-top: 5px;
}
.container-time:hover {
  background-color: rgb(217, 217, 217, 0.2);

  margin-left: 5px;
  margin-right: 5px;
  border-radius: 20px;
  height: 3rem;
  justify-content: center;
  align-items: center;
}

.container-confirm {
  flex: 1;
}

/* .label {
  bol
} */
.inputRounded-text .MuiOutlinedInput-root {
  background-color: white;
  border-radius: 20px;
  width: 25rem;
  height: 3.5rem;
  margin-top: 1rem;
  border: 4px solid rgb(0, 97, 255, 0.1);
  /* color: rgb(0, 97, 255, 0.1); */
}
.inputRounded-text-symptoms .MuiOutlinedInput-root {
  background-color: white;
  border-radius: 20px;
  width: 25rem;
  height: 6.5rem;
  margin-top: 1rem;
  border: 4px solid rgb(0, 97, 255, 0.1);
  /* color: rgb(0, 97, 255, 0.1); */
}

.confirm-button {
  float: right;
  background-color: rgb(0, 97, 255, 0.2);
  color: rgb(0, 97, 255, 0.6);
  border-radius: 20px;
  border: none;
  width: 12rem;
  height: 3.5rem;
  font-size: large;
  font-weight: bold;
  margin-top: 1rem;
  margin-right: 4rem;
}

.confirm-button:hover {
  cursor: pointer;
}
